<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\\logs\\check-apdates-internal.log"
      internalLogLevel="Info">

	<targets>
		<target xsi:type="ColoredConsole"
			name="logconsole" />
		<target xsi:type="File"
            name="file"
            fileName="log.log"
            archiveFileName="archive/{#}.log"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"
			maxArchiveDay="90" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>